@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

.project__container {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post__card{
  max-width: 800px;
  min-height: 300px;
  display: flex;
  gap: 30px;
}

.post_content-description p{
  height: 200px;
  overflow-y: auto;
}

.post_imagem img{
  border-radius: 30px 0px 0px 30px;
  height: 100%;
  max-width: 300px;
}

.post_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}







/*=============== BREAKPOINTS ===============
/* For large devices */
@media screen and (max-width: 992px) {
    
}

/* For medium devices */
@media screen and (max-width: 690px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

/* For small devices */
@media screen and (max-width: 350px) {

}

