@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

.project__container {
  max-width: 768px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.post__card{
  max-width: 800px;
  min-height: 300px;
  display: flex;
  gap: 30px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 20px;
}

.post_content-description p{
  height: 150px;
  overflow-y: auto;
}

.post_content-description p::-webkit-scrollbar{
  width: 10px;
  height: 20px !important;
}

.post_content-description p::-webkit-scrollbar-track {
  background: var(--title-color);        /* color of the tracking area */
  border-radius: 3px;
  
}

.post_imagem img{
  border-radius: 20px 0px 0px 20px;
  height: 100%;
  max-width: 300px;
}

.post_botoes{
  display: flex;
  gap: 10px;
}

.post_botoes-item{
  background-color: var(--title-color);
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}

.post_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}







/*=============== BREAKPOINTS ===============
/* For large devices */
@media screen and (max-width: 992px) {
    
}

/* For medium devices */
@media screen and (max-width: 690px) {

}

@media screen and (max-width: 768px) {
  .post__card{
    flex-direction: column;
    max-width: 400px;
    align-items: center;
  }
  .post_content{
    align-items: center;
  }
  .post_imagem img{
    border-radius: 20px 20px 0px 0px;
  }
}

@media screen and (max-width: 576px) {

}

/* For small devices */
@media screen and (max-width: 350px) {

}

